body {
  margin: 0%;
  padding: 0;
  background: url();
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.login-box {
  background-color: #c4bebed3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  max-width: 400px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  ba
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #c7c1c1;
  border-radius: 40px;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #ca2230;
  border: none;
  width: 150px;
  justify-items: end;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ca2230;
}
